/* Documentation For Home-Maker || Responsive html5 template */


/*** 

====================================================================
Fonts
====================================================================

***/


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url('font-awesome.css');
/*** 

====================================================================
Reset
====================================================================

***/
* {
margin:0px;
padding:0px;
border:none;
outline:none;
}
/*** 

====================================================================
Global Settings
====================================================================

***/

body {
font-family: 'Open Sans', sans-serif;
font-size:14px;
color:#353535;
line-height:1.6em;
font-weight:500;
background:#ffffff;
-webkit-font-smoothing: antialiased;
}
a {
text-decoration:none;
cursor:pointer;
color:#ffb504;
}
a:hover, a:focus, a:visited {
text-decoration:none;
outline:none;
}
h1, h2, h3, h4, h5, h6 {
position:relative;
margin:0px;
background:none;
}
h1 {
font-size:24px;
}
h2 {
font-size:20px;
}
h3 {
font-size:18px;
}
p {
font-size:14px;
line-height:1.6em;
}
/*** 

====================================================================
Sidebar
====================================================================

****/

#sidebar {
position:fixed;
left:0px;
top:0px;
width:250px;
height:100%;
padding:0px 20px;
border-right:2px solid #ffa800;
z-index:10;
}
#sidebar .mCSB_inside > .mCSB_container {
margin-right:12px !important;
}
#sidebar .mCS_no_scrollbar .mCSB_container {
margin-right:0px !important;
}
#sidebar .menu-box {
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
overflow:auto;
padding:0px 0px 30px;
background:rgba(0, 0, 0, 0.80);
transition:all 1000ms ease;
-moz-transition:all 1000ms ease;
-webkit-transition:all 1000ms ease;
-ms-transition:all 1000ms ease;
-o-transition:all 1000ms ease;
}
#sidebar .menu-box .logo {
position:relative;
text-align:center;
padding:30px 20px 10px;
}
#sidebar .menu-box .logo img {
position:relative;
display:inline-block;
max-width:100%;
}
#sidebar .menu-box .sticky-menu {
position:relative;
}
#sidebar .menu-box .sticky-menu > ul {
position:relative;
display:block;
margin:0px;
padding:0px;
border-top:1px solid rgba(255, 255, 255, 0.20);
width:96%;
}
#sidebar .menu-box .sticky-menu > ul > li {
position:relative;
display:block;
padding:3px 0px;
border-bottom:1px solid rgba(255, 255, 255, 0.20);
font-size:20px;
color:#ffffff;
text-align:right;
}
#sidebar .menu-box .sticky-menu > ul > li > a {
position:relative;
display:block;
padding:7px 30px 7px 0px;
color:#ffffff;
font-size:13px;
font-weight:600;
line-height:20px;
text-transform:uppercase;
transition:all 300ms ease;
-moz-transition:all 300ms ease;
-webkit-transition:all 300ms ease;
-ms-transition:all 300ms ease;
-o-transition:all 300ms ease;
text-decoration:none
}
#sidebar .menu-box .sticky-menu > ul > li a .fa {
position:absolute;
right:0;
top:0px;
width:24px;
text-align:right;
color:#ffffff;
font-size:12px;
display:block;
line-height:34px;
transition:all 500ms ease;
-moz-transition:all 500ms ease;
-webkit-transition:all 500ms ease;
-ms-transition:all 500ms ease;
-o-transition:all 500ms ease;
}
#sidebar .menu-box .sticky-menu > ul > li.current a .fa, #sidebar .menu-box .sticky-menu > ul > li:hover a .fa {
right:0;
opacity:1;
}
#sidebar .menu-box .sticky-menu > ul > li > a:hover, #sidebar .menu-box .sticky-menu > ul > li.current > a, #sidebar .menu-box .sticky-menu > ul > li.current-menu-item > a {
color:#ffb504;
}
#sidebar .menu-box .sticky-menu > ul > li > a:focus, #sidebar .menu-box .sticky-menu > ul > li.current > a, #sidebar .menu-box .sticky-menu > ul > li.current-menu-item > a {
color:#ffb504;
}
#sidebar .menu-box .sticky-menu > ul > li > a:hover .fa {
color:#ffb504!important
}
#sidebar .menu-box .sticky-menu > ul > li > a:focus .fa {
color:#ffb504!important
}
#sidebar .copyright {
position:fixed;
left:0px;
bottom:5px;
width:250px;
height:30px;
font-size:13px;
color:#ffffff;
line-height:30px;
text-align:center;
}
/*** 

====================================================================
Content Section
====================================================================

****/



#content-section {
position:relative;
padding:0px 0px 30px 250px;
width:100%;
z-index:5;
}
#content-section .section {
position:relative;
min-height:200px;
margin-bottom:50px;
}


#content-section .sec-title {
position:relative;
padding:10px 20px 10px 50px;
background:rgba(0, 0, 0, 0.70);
color:#ffffff;
}
#content-section .sec-title h2 {
position:relative;
font-size:24px;
text-transform:capitalize;
font-weight:600;
}
#content-section .sec-title h3 {
position:relative;
font-size:22px;
text-transform:uppercase;
font-weight:600;
}


.sec-content h4 {
font-size:20px; font-weight:normal; border-bottom:solid 1px #f3f2f2; padding:0 0 10px 0;color:#333;
}



#content-section .sec-title .icon {
position:absolute;
left:20px;
top:10px;
width:30px;
height:40px;
line-height:30px;
font-size:18px;
}
#content-section .separator {
position:relative;
margin:20px 0px;
height:1px;
}
#content-section .separator:before {
content:'';
position:relative;
display:block;
width:100%;
height:1px;
background:linear-gradient(left, #d0d0d0, #f1f1f1, #ffffff);
background:-moz-linear-gradient(left, #d0d0d0, #f1f1f1, #ffffff);
background:-webkit-linear-gradient(left, #d0d0d0, #f1f1f1, #ffffff);
background:-ms-linear-gradient(left, #d0d0d0, #f1f1f1, #ffffff);
background:-o-linear-gradient(left, #d0d0d0, #f1f1f1, #ffffff);
}
#content-section .sec-content {
position:relative;
padding:10px 20px;
}
.introduction .sec-content h2 {
font-size:32px;
text-transform:uppercase;
margin-bottom:10px;
font-weight:600;
font-family: 'Open Sans Condensed', sans-serif;
color:#ffb504;
}
.introduction .sec-content h3 {
font-size:22px;
text-transform:capitalize;
margin-bottom:10px;
font-family: 'Open Sans Condensed', sans-serif;
}
.html-structure .sec-content h3, .css-structure .sec-content h3, .javascript .sec-content h3, .sources-credits .sec-content h3, .contact-form .sec-content h3, .support .sec-content h3, .map-settings .sec-content h3, .count-timer .sec-content h3 {
font-size:15px;
font-weight:600;
margin-bottom:30px;
line-height:1.4em;
}
.html-structure code {
font-size:14px;
font-family: 'Open Sans', sans-serif;
color:#353535;
padding:30px 20px;
background:#f1f1f1;
height:auto;
display:block;
}
.javascript ul li {
list-style:none;
}
.sources-credits p {
margin-bottom:2px;
}
#content-section img {
display:inline-block;
max-width:100%;
height:auto;
}
#content-section .image-box {
position:relative;
padding:0px;
margin:30px 0px;
}
/*!
* Documenter 2.0
* http://rxa.li/documenter
*
* Copyright 2011, Xaver Birsak
* http://revaxarts.com
*
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin:0;
padding:0;
border:0;
outline:0;
font-weight:inherit;
font-style:inherit;
font-size:100%;
font-family:inherit;
vertical-align:baseline;
font-family:Arial, Helvetica, sans-serif;
}
html {
font-size:101%;
font-family:Arial, verdana, arial, sans-serif;
font-size:14px;
-webkit-text-size-adjust:none;
color:#6F6F6F;
background-color:#efefef;
}
body {
min-height:100%;
height:auto;
width:100%;
}
footer, header, section {
display:block;
}
a {
color:#6F6F6F;
text-decoration:none;
cursor:pointer;
}
a:hover {
text-decoration:underline
}
p, ul, ol {
margin:18px 0;
line-height:1.5em;
}
li {
list-style:none;
}
li.placeholder {
height:70px;
width:100%;
font-size:16px;
}
hr {
display:block;
height:0px;
line-height:0px;
border:0;
border-top:1px solid #ddd;
border-bottom:1px solid #aaa;
margin:16px 0;
padding:0;
clear:both;
float:none;
}
hr.notop {
margin-top:0;
}
strong {
font-weight:700;
}
#documenter_buttons {
position:absolute;
right:10px;
margin-top:-30px;
}
.btn {
cursor:pointer;
width:auto;
padding:7px 7px 8px;
border:1px solid #ccc;
}
.btn:hover {
border:1px solid #B1B4B0;
box-shadow:0px 2px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.1);
-webkit-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.1);
text-decoration:none;
}
.btn:active {
border:1px solid #B1B4B0;
box-shadow:inset 0px 2px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow:inset 0px 2px 2px rgba(0, 0, 0, 0.1);
-webkit-box-shadow:inset 0px 2px 2px rgba(0, 0, 0, 0.1);
background-color:#eee;
}
#documenter_content {
position:absolute;
right:18px;
left:325px;
padding-left:10px;
padding-bottom:800px;
min-height:100%;
height:auto;
z-index:1;
}
#documenter_sidebar {
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
position:fixed;
left:0;
width:300px;
height:100%;
min-height:100%;
z-index:100;
}
#documenter_sidebar a {
position:relative;
z-index:100;
}
img {
border:0;
}
#documenter_copyright {
position:absolute;
bottom:10px;
font-size:10px;
right:15px;
width:300px;
text-align:right;
z-index:1
}
noscript {
display:block;
position:absolute;
top:238px;
margin:0 auto;
width:800px;
bottom:0;
z-index:20;
}
noscript p {
width:800px;
font-size:20px;
padding-top:20px;
margin:0 auto;
color:#4D4D4D;
}
.small {
font-size:10px;
letter-spacing:0;
}
/*----------------------------------------------------------------------*/
/* Sidebar
/*----------------------------------------------------------------------*/

#documenter_sidebar #documenter_logo {
display:block;
height:20%;
max-height:60px;
min-height:60px;
width:300px;
background-position:center center;
background-repeat:no-repeat;
border:none !important;
}
#documenter_sidebar ul {
font-size:12px;
font-weight:700;
min-height:150px;
height:75%;
overflow:auto;
border:none !important;
}
#documenter_sidebar ul li {
text-align:left;
padding:0;
font-weight:300;
}
#documenter_sidebar ul a {
font-size:15px;
display:block;
border-top:1px solid #272222!important;
border-bottom:none !important;
padding:15px 30px;
text-align:left;
}
#documenter_sidebar ul a:hover, #documenter_sidebar ul a.current {
-webkit-text-shadow:none;
-moz-text-shadow:none;
text-shadow:none;
text-decoration:none;
background:#fff !important;
color:#000 !important;
}
#documenter_sidebar ul li ul {
border-top:0;
font-size:10px;
min-height:10px;
height:auto;
overflow:auto;
margin:0;
display:none;
}
#documenter_sidebar ul li ul li a {
display:block;
padding:4px 15px 5px 0;
text-align:right;
}
/*----------------------------------------------------------------------*/
/* Content
/*----------------------------------------------------------------------*/

.sub-head {
font-weight: 600 !important;
border: 2px solid #BBB;
margin-bottom: 35px;
display: table;
text-transform: uppercase;
font-size: 15px !important;
line-height: 15px;
padding: 12px 15px;
}
#documenter_cover {
position:relative;
height:800px;
padding-top:120px !important;
}
#documenter_cover li {
list-style:none;
margin-left:0;
}
#documenter_cover p {
width:98%;
color:#666;
}
.list li {
list-style-type: square;
color:#666;
padding-bottom:12px;
margin-left:20px;
}
#documenter_content section {
padding-top:70px;
}
#documenter_content h1 {
font-size:30px;
font-weight:700;
}
#documenter_content h2 {
font-size:20px;
margin-bottom:18px;
font-weight:100;
}
#documenter_content {
border:none !important;
}
#documenter_content h3 {
font-size: 26px;
margin: 18px 0px 0px;
font-weight: 700;
background: #d2d2d2;
padding: 15px 20px;
color: #000;
text-transform: uppercase;
font-size: 17px;
display: table;
border-radius: 5px;
width: 96%;
}
#documenter_content h4 {
font-size:20px;
margin:18px 0;
font-weight:100;
}
#documenter_content h5 {
font-size:16px;
margin:18px 0;
font-weight:100;
}
#documenter_content h6 {
font-size:14px;
margin:18px 0;
font-weight:100;
}
#documenter_content p {
margin:18px 0;
}
#documenter_content ol li {
list-style:decimal;
margin-left:36px;
}
#documenter_content ul li {
list-style:square;
margin-left:36px;
}
#documenter_content dl {
}
#documenter_content dl dt {
padding-top:12px;
font-weight:700;
font-size:14px;
}
#documenter_content dl dd {
padding-top:3px;
margin-left:18px;
}
#documenter_content table {
border-collapse:collapse;
}
#documenter_content table th {
font-weight:700;
}
#documenter_content table th, #documenter_content table td {
padding:3px;
text-align:left;
}
#documenter_content code {
font-family:"Courier New", Courier, monospace;
font-size:12px;
}
#documenter_content .warning {
padding:10px 10px 10px 30px;
border:1px solid #D5D458;
background-color:#F0FEB1;
background-image:url(img/warning.png);
background-repeat:no-repeat;
background-position: 8px 11px;
}
#documenter_content .info {
padding:10px 10px 10px 30px;
border:1px solid #6AB3FF;
background-color:#A3D0FF;
background-image:url(img/info.png);
background-repeat:no-repeat;
background-position: 8px 11px;
}
#documenter_content div.alert {
padding: 8px 35px 8px 14px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #fcf8e3;
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
#documenter_content div.alert-success, #documenter_content div.alert-success div.alert-heading {
color: #468847;
}
#documenter_content div.alert-danger, #documenter_content div.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
}
#documenter_content div.alert-danger, #documenter_content div.alert-error, #documenter_content div.alert-danger div.alert-heading, #documenter_content div.alert-error div.alert-heading {
color: #b94a48;
}
#documenter_content div.alert-info {
background-color: #d9edf7;
border-color: #bce8f1;
}
#documenter_content div.alert-info, #documenter_content div.alert-info div.alert-heading {
color: #3a87ad;
}
#documenter_content div.alert-block {
padding-top: 14px;
padding-bottom: 14px;
}
#documenter_content div.alert-block > p, #documenter_content div.alert-block > ul {
margin-bottom: 0;
}
#documenter_content div.alert-block p + p {
margin-top: 5px;
}





/*----------------------------------------------------------------------*/
/* Print Styles
/*----------------------------------------------------------------------*/

@media print {
* {
background: transparent !important;
color: black !important;
text-shadow: none !important;
filter:none !important;
-ms-filter: none !important;
} /* Black prints faster: sanbeiji.com/archives/953 */
a, a:visited {
color: #444 !important;
text-decoration: underline;
}
a[href]:after {
content: " (" attr(href) ")";
}
abbr[title]:after {
content: " (" attr(title) ")";
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
content: "";
}  /* Don't show links for images, or javascript/internal links */
pre, blockquote {
border: 1px solid #999;
page-break-inside: avoid;
}
thead {
display: table-header-group;
} /* css-discuss.incutio.com/wiki/Printing_Tables */
tr, img {
page-break-inside: avoid;
}
@page {
margin: 0.5cm;
}
p, h2, h3 {
orphans: 3;
widows: 3;
}
h2, h3 {
page-break-after: avoid;
}
hr {
border-top:1px solid #000 !important;
border-bottom:0 !important;
}
#documenter_sidebar {
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
position:absolute;
left:10px;
top:0;
width:100%;
margin-top:500px;
}
#documenter_sidebar ul:before {
content: "Table of Contents";
}
#documenter_sidebar ul {
border:0 !important;
}
#documenter_sidebar ul li {
border:0 !important;
text-align:left;
}
#documenter_sidebar ul li a {
border:0 !important;
text-align:left;
padding:4px;
}
#documenter_sidebar ul li a:hover {
border:0 !important;
}
#documenter_sidebar #documenter_logo {
display:none;
}
#documenter_sidebar #documenter_copyright {
display:none;
}
#documenter_content {
left:10px;
}
#documenter_cover {
margin-bottom:300px;
}
#documenter_content .warning {
background-image:url(img/warning.png) !important;
background-repeat:no-repeat !important;
background-position: 8px 11px !important;
}
#documenter_content .info {
background-image:url(img/info.png) !important;
background-repeat:no-repeat !important;
background-position: 8px 11px !important;
}
}
